@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ede6d7;
}

.menu .active {
	/* color: #6a67ff; */
	color: #242424;

	/* border: 2px solid; */
}

.markdown > * {
	all: revert;
}
